@page
@model WebApp.Pages.CheckersOptions.IndexModel

@{
    ViewData["Title"] = "Game Options";
}

<h1>Game Options</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].GameBoardHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].GameBoardWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].WhitePieces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].BlackPieces)
            </th>
            <th>
                Linked games
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CheckersOption) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameBoardHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameBoardWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhitePieces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackPieces)
            </td>
            <td>
            @if (item.CheckersGames != null)
            {
                @item.CheckersGames.Count()
            }
            <td>
                @* <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> | *@
                @* <a asp-page="./Details" asp-route-id="@item.Id">Details</a> | *@
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
